* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  letter-spacing: 1;
}
html,
body {
  background-color: #f0f8ff;
  color: #313131;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 21px;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

.reg-container,
.login-container {
  padding: 16px;
  text-align: center;
}

.submitbtn,
.loginbtn {
  margin: auto;
  padding: 10px;
  text-align: center;
}

.tandc,
.forgotpass {
  margin: auto;
  font-size: 17px;
  text-align: center;
}

.forgotpass {
  margin-top: 10px;
}

a {
  text-decoration: none;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="password"] {
  width: 40%;
  padding: 3px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: 0.04s;
  outline: none;
}

input[type="text"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  border-bottom: 2px solid #cf6d17;
}

.tag1 {
  margin-right: 36px;
}
.tag2 {
  margin-right: 115px;
}
.tag3 {
  margin-right: 115px;
}
.tag4 {
  margin-right: 80px;
}
.tag5 {
  margin-right: 5px;
}
.tag6 {
  margin-right: 115px;
}
.tag7 {
  margin-right: 80px;
}

.headings {
  margin-top: 10px;
  text-align: center;
}

.signupdivs {
  margin-top: 8px;
}

.button {
  border: 1px solid #e67e22;
  color: #e67e22;
  background-color: white;
  padding: 14px 28px;
  cursor: pointer;
  border-radius: 100px;
  font-size: 16px;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.button:hover,
.button:active {
  background-color: #e67e22;
  color: #fff;
}
