* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 1px;
}

html,
body {
  background-color: #f0f8ff;
  color: #313131;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 21px;
  font-weight: 100;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

@media all and (max-width: 600px) {
  .all,
  .order {
    flex-direction: column;
  }
}

.one-two h3 {
  font-weight: lighter;
}

.prevorder {
  margin-left: 80px;
}

.order h3 {
  margin-left: 50px;
}

.order {
  display: flex;
  margin: 40px;
  align-items: center;
  margin-left: 25px;
}

.item-img {
  width: 200px;
}

.items {
  display: flex;
  flex-wrap: wrap;
  margin-left: 35px;
  margin-right: 10px;
}
.itemele {
  margin-left: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.one-two h3 {
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 10px;
}
.one-two {
  width: 50%;
}

.all {
  display: flex;
  margin-bottom: 50px;
}

.button,
.prevorder {
  width: 200px;
  border: 1px solid #e67e22;
  color: #e67e22;
  background-color: white;
  padding: 14px 28px;
  cursor: pointer;
  border-radius: 100px;
  font-size: 16px;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.prevorder:hover,
.prevorder:active,
.button:hover,
.button:active {
  background-color: #e67e22;
  color: #fff;
}
